#node
node_modules
package-lock.json

#ide jetbrains
.idea

#next
.next

.claude
.cursor

#files md
PWA_SETUP.md
analize.md
DEAD_CODE_REPORT.md

#random files
scripts/generate-icons.sh
/docs
/backup
EXP_COURS(1).csv

#Sentry Config File
.env.sentry-build-plugin

#env files
.env.local
.env.development.local
.env.test.local
.env.production.local       
#local telegram storage
.data

#cursor
.cursor